.news-app{
    display: flex;
    justify-content: center;
    
}
.news-item{
    width: 600px;
    padding: 20px;
    // border: 1px solid;
    margin-bottom: 20px;

    // margin-left: 1%;
     margin-top: 3%;
     

}
.news-img{
    width: 600px;
}