.page404-page{
    .text-zone{
        position:fixed;
        left: 35%;
        top: 50%;
        bottom: 5%;
        transform: translateY(-50%);
        width: 100%;
        vertical-align: middle;
        display: table-cell;
        max-height:fit-content;
        text-align: justify;

        h1{
            font-size: 53px;
            font-family: 'Coolvetica';
            color: #3b3b3a;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;
        }
    }
}